.page {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    ;

}