.intro__subtitle {
    margin: 0 0 36px 0;
    max-width: 690px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
}


@media  (min-width: 769px) and (max-width: 1024px) {
    .intro__subtitle {
        max-width: 690px;
        }
      }
      
      
   @media  (min-width: 321px) and (max-width: 768px){
    .intro__subtitle {
        max-width: 100%;
        }
      }
      
      
   @media (max-width: 320px) {
    .intro__subtitle {
        max-width: 100%;
        }
      }