.cover__subtitle {
  width: 360px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}


@media (min-width: 320px) and (max-width: 767px) {
  .cover__subtitle {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
}