.cover__overlay {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
     
}

.cover__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F; 
    opacity: 0.30000001192092896;
    transition: opacity 0.3s ease;
}

.cover__overlay:hover:before {
    opacity: 0.800000011920929;
    background: #2A2C2F;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .cover__overlay {
        max-width: 100%;
        height: auto;
    }
  }
  
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .cover__overlay {
        max-width: 100%;
        height: auto;
    }
  }
  
  
  @media (min-width: 320px) and (max-width: 767px) {
    .cover__overlay {
        max-width: 100%;
        height: auto;
    }
  }

